* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    display: flex;
}
canvas{
    position: absolute;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width:100%;
    height: auto;
    right: 0;
    bottom: 0;
}
img {
    display: none;
}