html,
body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}
body {
    display: flex;
    background-color: black;
    overflow: hidden;
}
/* canvas{
    position: absolute;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width:100%;
    height: auto;
    right: 0;
    bottom: 0;
} */
 canvas {
    position: absolute;
    object-fit:contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 100%;
 }
img {
    display: none;
}